.portfolio-item {
    width: 342px;
    height: 200px;
    margin: 4px;
    box-sizing: border-box;
    float: left;
    display: table;
    border: 1px solid gray;
    border-radius: 2px;
}
.portfolio-item a {
    display: table-cell;
    color: gray;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
    opacity: 0.5;
}
